<mat-card class="mb-3 mt-2">
    <mat-card-title>Account</mat-card-title>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle>
            Personalize your account with a photo. Your profile photo will appear on apps and devices that use your
            Microsoft account.
        </mat-card-subtitle>
        <input type="file" name="fileUpload" accept="image/*" />
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>